{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title">PELICULAS Y ACTORES</h1>
                <p>{{ base_dir }}</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
        "%kernel.root_dir%/Resources/assets/js/app.js"
        filter="?jsqueeze" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
